.board-container {
  .board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;

    h1 {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .board-toolbar {
      display: flex;
      justify-content: flex-end;
      gap: 24px;

      .toolbar-group {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .toolbar-group label {
        font-weight: 500;
      }

      .toolbar-group select {
        padding: 8px 12px;
        border-radius: 10px;
        border: 1px solid #d0d7de;
        background: white;
      }
    }

  }

}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 24px;
  align-items: start;
}


@media (max-width: 992px) {
  .board {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .board {
    grid-template-columns: 1fr;
  }
}