<div class="board-container">
  <div class="board-header">
    <h1>Retrospective Wall</h1>
    <div class="board-toolbar">
      <div class="toolbar-group">
        <label>View Section</label>
        <select [(ngModel)]="selectedSection">
          <option value="all">
            All Sections
          </option>
          @for (section of sections; track section.id) {
          <option [value]="section.id">
            {{ section.title }}
          </option>
          }
        </select>
      </div>
    </div>
  </div>
  <div class="content">

    <div class="board" cdkDropListGroup>
      @for (section of filteredSections; track section.id) {
      <app-column [section]="section" (boardUpdated)="saveBoard()"></app-column>
      }
    </div>
  </div>
</div>